.App {
  padding: 10px;
  text-align: center;
}
.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}
.game-title {
  display: flex;
  align-items: center;
}
.game-title span {
  margin: 0 0 0 20px;
}
.game-field {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 0;
}
.game-field span {
}
.number-field {
  cursor: pointer;
  display: inline-block;
  min-width: 40px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 3px;
}
.array-field {
  margin: 0 5px;
}
.chosen-field {
  background: yellow;
}

@media (min-width: 376px) {
  .App {
    max-width: 420px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {

}