* {
  box-sizing: border-box;
}
.app-content {
  padding: 15px 10px;
  background: rgba(70,105,221,1);
  background: linear-gradient(to bottom, rgba(70,105,221,1) 0%, rgba(176,106,180,1) 100%);
}
.app-content__body {
  width: 100%;
  background: #fff;
  border-radius: 3px;
}